<nav class="nav">
  <ul>
    <li><a href="/inicio"> Home </a></li>
    {{! <li><a href="/acerca"> Acerca </a></li>
    <li><a href="/usuarios"> Usuarios </a></li> }}
    <li><a href="/upload"> Cargar archivos </a></li>
    <li><a href="/personajes"> Personajes </a></li>
    <li><a href="/game_api"> Game of thrones</a></li>
  </ul>
</nav>