<div class="container">
  <h1>{{title}}</h1>
  <p>{{message}}</p>
  <p>Nombre del archivo cargado: {{filename}}</p>
  </div>

  <a href="/inicio">Volver al inicio</a>
    <br>
  <img src="../upload/{{filename}}" alt="" width="300" height="300" />
</div>